{% extends "comparisons/base.html" %}

{% block content%}
<div class="pane">
  <h2>New comparison</h2>
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>
</div>
<div class="pane">
  <h2>Comparison List</h2>
  <div class="overview-row">
    <div class='overview-header overview-firstcol-border'>
      <div class='overview-header-inner-bold'>Id</div>
    </div>
    <div class='overview-header'>
      <div class='overview-header-inner-bold'>Species</div>
    </div>
    <div class='overview-header'>
      <div class='overview-header-inner-bold'>Created by</div>
    </div>
    <div class='overview-header'>
      <div class='overview-header-inner-bold'>Created at</div>
    </div>
    <div class='overview-header'>
      <div class='overview-header-inner-bold'>DM status</div>
    </div>
    <div class='overview-header'>
      <div class='overview-header-inner-bold'>Edit</div>
    </div>
    <div class='overview-header'>
      <div class='overview-header-inner-bold'>Sequence count</div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">HC single</div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">HC complete</div>
    </div>
  </div>
  {% for comparison in comparisons %}
  <div class="row">
    <div class='overview-datacolumn'>
      {{ comparison.pk }}
    </div>
    <div class='overview-datacolumn'>
      {{ comparison.species }}
    </div>
    <div class='overview-datacolumn'>
      {{ comparison.created_by }}
    </div>
    <div class='overview-datacolumn'>
      {{ comparison.created_at }}
    </div>
    <div class='overview-datacolumn'>
      {{ comparison.dm_status }}
    </div>
    <div class='overview-datacolumn'>
      <a href="/admin/comparisons/comparison/{{ comparison.pk }}/change/" target="_blank">Edit with admin</a>
    </div>
    <div class='overview-datacolumn'>
      {{ comparison.sequences|length }}
    </div>
    <div class="overview-datacolumn">
      {% if comparison.tree_single %}
      New dashboard
      {% else %}
      <a href="{% url 'make_tree' comparison.pk 'single' %}">Calculate</a>
      {% endif %}
    </div>
    <div class="overview-datacolumn">
      {% if comparison.tree_single %}
      New dashboard
      {% else %}
      <a href="{% url 'make_tree' comparison.pk 'complete' %}">Calculate</a>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}