{% extends "comparisons/base.html" %}

{% block content%}
<div class="pane">
  <h2>New comparison</h2>
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>
</div>
<div class="pane">
  <h2>Comparisons</h2>
  <div class="overview-row">
    <div class='overview-header overview-firstcol-border'>
      <div class='overview-header-inner-bold'>Species</div>
    </div>
    <div class='overview-header overview-firstcol-border'>
      <div class='overview-header-inner-bold'>Created by</div>
    </div>
 <div class='overview-header'>
      <div class='overview-header-inner-bold'>Created at</div>
    </div>
    <div class='overview-header'>
      <div class='overview-header-inner-bold'>Modified at</div>
    </div>
    <div class='overview-header'>
      <div class='overview-header-inner-bold'>Number of sequences</div>
    </div>
    <div class='overview-header'>
      <div class='overview-header-inner-bold'>Actions</div>
    </div>
  </div>
  {% for comparison in comparisons %}
  <div class="row">
    <div class='overview-datacolumn'>
      {{ comparison.species }}
    </div>
    <div class='overview-datacolumn'>
      {{ comparison.created_by }}
    </div>
    <div class='overview-datacolumn'>
      {{ comparison.created_at }}
    </div>
    <div class='overview-datacolumn'>
      {{ comparison.modified_at }}
    </div>
    <div class='overview-datacolumn'>
      {{ comparison.sequences|length }}
    </div>
    <div class='overview-datacolumn'>
      <span class="rspace"><a href="{% url 'view_dataset' comparison.pk %}">List</a></span>
      <span class="rspace">
        {% if comparison.owner.username == request.user.username or comparison.owner.username == None %}
          <a href="{% url 'edit_dataset' comparison.pk %}">Edit</a>
        {% else %}
          <span class="inactive">Edit</span>
        {% endif %}
      </span>
      <span class="rspace"><a href="{% url 'rt_jobs_for_dataset' comparison.pk%}">Comparisons</a></span>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}