{% extends 'comparisons/base.html' %}

{% block content%}
<div class="pane">
    <h2>Welcome to the Launchpad</h2>
    <div>
        <p>This is where you create and start a new dashboard.</p>
        <p>To do this, all you need is a tree (you have one already), and optionally a set of metadata to show in the dashboard.</p>
        <p>You can prepare a new dashboard in the "New dashboard from this tree" section below.</p>
    </div>
</div>
<div class="pane">
    <h2>Current tree and comparison</h2>
    <div>Tree type: {{tree.tree_type}}</div>
    <div>Comparison tool: {{tree.comparison.tool}}</div>
    <div>Sequence count: {{sequence_count}}</div>
    </form>
  </div>
<div class="pane">
  <h2>New dashboard from this tree</h2>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create dashboard">
  </form>
</div>
<div class="pane">
    <h2>Existing dashboards with this tree</h2>
    <div class="overview-row">
        <div class='overview-header overview-firstcol-border'>
          <div class='overview-header-inner-bold'>ID</div>
        </div>
        <div class='overview-header'>
          <div class='overview-header-inner-bold'>Created at</div>
        </div>
        <div class='overview-header'>
          <div class='overview-header-inner-bold'>TBR data fields</div>
        </div>
        <div class='overview-header'>
          <div class='overview-header-inner-bold'>LIMS data fields</div>
        </div>
        <div class='overview-header'>
          <div class='overview-header-inner-bold'>Manual data fields</div>
        </div>
    </div>
    {% for dashboard in dashboards %}
    <div class="row">
        <div class='overview-datacolumn'>
        <a href="{{ dashboard.url }}" target="_blank">{{ dashboard.id }}</a>
      </div>
      <div class='overview-datacolumn'>
        {{ dashboard.created_at }}
      </div>
      <div class='overview-datacolumn'>
        {{ dashboard.tbr_data_fields }}
      </div>
      <div class='overview-datacolumn'>
        {{ dashboard.lims_data_fields }}
      </div>
      <div class='overview-datacolumn'>
        {{ dashboard.manual_data_fields }}
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}