{% extends 'comparisons/base.html' %}

{% block content%}
<div class="pane">
    <h2>Welcome to the Launchpad</h2>
    <div>
        <p>This is where you create and start a new dashboard.</p>
        <p>To do this, all you need is a tree (you have one already), and optionally a set of metadata to show in the dashboard.</p>
        <p>You can prepare a new dashboard in the "New dashboard with this tree" section below.</p>
    </div>
</div>
<div class="pane">
    <h2>Current Tree and Comparison</h2>
    <div>Tree type: {{tree.tree_type}}</div>
    <div>Comparison tool: {{tree.comparison.tool}}</div>
    <div>Sequence count: {{sequence_count}}</div>
    </form>
  </div>
<div class="pane">
  <h2>New dashboard from this tree</h2>
  <form method="post">
    {% csrf_token %}
    {# form.as_p #}
    <button type="submit">Create dashboard</button>
  </form>
</div>
<div class="pane">
    <h2>Existing dashboards with this tree</h2>
</div>
{% endblock %}