{% extends "comparisons/base.html" %}

{% block content%}
<div class="pane">
  {% if dataset%}
    <h2>Dataset: <span id="dataset_name">{{ dataset.name }}</span></h2>
    <h3>Key: <span id="dataset_key">{{ dataset.pk }}</span></h3>
    <h3>Owner: {{ dataset.owner.username }}</h3>
    <h3>Species: {{ species_name }}</h3>
    {% if edit %}
    <form method="post">
      {% csrf_token %}
      {{ delete_form }}
      <input type="submit" value="Delete">
    </form>
    <div id="js_message"></div>
    {% endif %}
  {% else %}
    <h2>Sample List</h2>
  {% endif %}
  <div class="overview-row">
    {% if edit %}
    <div class="overview-firstcol-border">
      <input type="checkbox"
      />
    </div>
    {% endif %}
    {% if edit %}
    <div class="overview-header">
    {% else  %}
    <div class="overview-header overview-firstcol-border">
    {% endif %}
    <div class="overview-header-inner-bold">Sequence ID</div>
      <div class="overview-header-inner">
        <span>{filter}</span>
      </div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Sample ID</div>
      <div class="overview-header-inner">
        <span>{filter}</span>
      </div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Institution</div>
      <div class="overview-header-inner">
        <span>{filter}</span>
      </div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Species</div>
      <div class="overview-header-inner">
        <span>{filter}</span>
      </div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Country</div>
      <div class="overview-header-inner">
        <span>{filter}</span>
      </div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Source Type</div>
      <div class="overview-header-inner">
        <span>{filter}</span>
      </div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Sampling Date</div>
      <div class="overview-header-inner">
        <span>{filter}</span>
      </div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Sequence Type</div>
      <div class="overview-header-inner">
        <span>{filter}</span>
      </div>
    </div>
  </div>
  <div id="sample_list">
  {% for sample in samples %}
    <div class="row">
      {% if edit %}
      <div class="overview-firstcol">
        <input id="{{ sample.org }}.{{sample.name}}" type="checkbox" {% if sample.in_dataset %} checked {% endif %}/>
      </div>
      {% endif %}
      <div class="overview-datacolumn">
        {{ sample.sequence_id }}
      </div>
      <div class="overview-datacolumn">
        {{ sample.sample_id }}
      </div>
      <div class="overview-datacolumn">
        {{ sample.org }}
      </div>
      <div class="overview-datacolumn">
        {{ sample.species }}
      </div>
      <div class="overview-datacolumn">
        {{ sample.country_term.termName }}
      </div>
      <div class="overview-datacolumn">
        {{ sample.source_type_term.termName }}
      </div>
      <div class="overview-datacolumn">
        {{ sample.sampling_date }}
      </div>
      <div class="overview-datacolumn">
        {{ sample.sequence_type }}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
  {% if edit %}
    <script src="/django_static/main/update_mongoids.js"></script> 
  {% endif %}
{% endblock %}

