{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BeONE Web App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/App.css' %}">
  </head>
  <body>
    <div class='baseline-row pane'>
      <div class='column'>
        <h1><a href="/">BeONE Web App</a></h1>
      </div>
      {% if request.user.is_authenticated %}
        {% url 'sample_list' as sample_list_url %}
        {% url 'datasets' as datasets_url %}
        {% url 'dashboard' as dashboard_url %}
        <div class='column'>
          <nav>
            <span class="menu-item">
              <a href="{% url 'sample_list' %}"
              {% if request.path == sample_list_url %}class="current"{% endif %}
              >Sample List</a>
            </span>
            <span class="menu-item">
              <a href="{% url 'datasets' %}"
              {% if request.path == datasets_url %}class="current"{% endif %}
              >Data Sets</a>
            </span>
            <span class="menu-item">
              <a href="{% url 'dashboard' %}"
              {% if request.path == dashboard_url %}class="current"{% endif %}
              >Dashboard</a>
            </span>
          <nav>
        </div>
        <div class='right-justify'>
          <span>Hello {{request.user.username}}</span>
          <span><a href=" {% url 'logout' %}">Logout</a></span>
      {% else %}
        <span>Please <a href=" {% url 'login' %}">login</a></span>
      {% endif %}
      </div>
    </div>
    {% if messages %}
      <div class="pane">
        <h2>Messages</h2>
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      </div>
    {% endif %}
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>