{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BeONE Web App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/App.css' %}">
  </head>
  <body>
    <div class='baseline-row pane'>
        <div class='column'>
          <h1><a href="/">BeONE Web App</a></h1>
        </div>
        <div class='right-justify'>
          {% if request.user.is_authenticated %}
            <span>Hello {{request.user.username}}</span>
            <span><a href=" {% url 'logout' %}">Logout</a></span>
          {% else %}
            <span>Please <a href=" {% url 'login' %}">login</a> first</span>
          {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>