{% extends "main/base.html" %}

{% block content%}
<div class="pane">
  <div class="baseline-row">
    <div class="column">
      <h2>ReporTree job {{ rt_job.pk }} for dataset {{ rt_job.dataset.name }}</h2>
    </div>
    <div class="column">Dataset Owner: {{ rt_job.dataset.owner.username }}</div>
    <div class="column">Species: {{ species_name }}</div>
  </div>
</div>
<div class='row'>
  <div class='pane'>
      <h2>Output Item: {{ item }}</h2>
      <div class='row'>
        {{ content }}
      </div>
  </div>
</div>
{% endblock %}

