{% extends "main/base.html" %}

{% block content%}
<div class="pane">
  <div class="overview-row">
    <div class="column">
      <h2>ReporTree job {{ rt_job.pk }} for dataset {{ rt_job.dataset.name }}</h2>
    </div>
    <div class="column">
      <h3>Owner: {{ rt_job.dataset.owner.username }}</h3>
    </div>
    <div class="column">
      <h3>Species: {{ species_name }}</h3>
    </div>
  </div>
</div>
<div class='row'>
  <div class='column pane'>
      <h2>ReporTree Files</h2>
  </div>
  <div class='column pane'>
      <h2>Sample List</h2>
  </div>
</div>
<div class = 'row pane'>
  <h2>Dashboard Launcher</h2>
  <form>
    <input type="submit" value="Open Dashboard">
  </form>
</div>
{% endblock %}

