{% extends "main/base.html" %}

{% block content%}
<div class="pane">
  <div class="overview-row">
    <div class="column">
      <h2>ReporTree job {{ rt_job.pk }} for dataset {{ rt_job.dataset.name }}</h2>
    </div>
    <div class="column">
      <h3>Owner: {{ rt_job.dataset.owner.username }}</h3>
    </div>
    <div class="column">
      <h3>Species: {{ species_name }}</h3>
    </div>
    <div class="column right-justify">
      <form>
        <input type="submit" value="Open in Dashboard">
      </form>
    </div>
  </div>
  <div class="overview-row">
    {% if edit %}
    <div class="overview-firstcol-border">
      <input type="checkbox"
      />
    </div>
    {% endif %}
    {% if edit %}
    <div class="overview-header">
    {% else  %}
    <div class="overview-header overview-firstcol-border">
    {% endif %}
    <div class="overview-header-inner-bold">Log</div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Newick</div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Clusters</div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Partitions</div>
    </div>
  </div>
  <div id="sample_list">
    <div class="row">
      <div class="overview-datacolumn">
        {{ rt_job.log }}
      </div>
      <div class="overview-datacolumn">
        {{ rt_job.newick }}
      </div>
      <div class="overview-datacolumn">
        {{ rt_job.clusters }}
      </div>
      <div class="overview-datacolumn">
        {{ rt_job.partitions }}
      </div>
    </div>
</div>
{% endblock %}

{% block footer %}
  {% if edit %}
    <script src="/static/main/update_mongoids.js"></script> 
  {% endif %}
{% endblock %}

