{% extends "main/base.html" %}

{% block content%}
<div class="pane">
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Initialize new job">
  </form>
</div>
<div class="pane">
    <h2>ReporTree jobs{% if dataset %} for dataset {{dataset.name}}{%endif%}</h2>
  <div class="overview-row">
    <div class="overview-header overview-firstcol-border">
    <div class="overview-header-inner-bold">Owner</div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Dataset</div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Status</div>
    </div>
    <div class="overview-header">
        <div class="overview-header-inner-bold">Started At</div>
    </div>
    <div class="overview-header">
        <div class="overview-header-inner-bold">Finished At</div>
    </div>
    <div class="overview-header">
      <div class="overview-header-inner-bold">Path</div>
    </div>
    <div class="overview-header">
        <div class="overview-header-inner-bold">Newick</div>
    </div>
    <div class="overview-header">
        <div class="overview-header-inner-bold">Actions</div>
    </div>
  </div>
  <div>
  {% for job in rt_jobs %}
    <div class="row">
      <div class="overview-datacolumn">
        {{ job.owner }}
      </div>
      <div class="overview-datacolumn">
        {{ job.dataset }}
      </div>
      <div class="overview-datacolumn">
        {{ job.get_status_display }}
      </div>
      <div class="overview-datacolumn">
        {{ job.started_at }}
      </div>
      <div class="overview-datacolumn">
        {{ job.ended_at }}
      </div>
      <div class="overview-datacolumn">
        {{ job.path }}
      </div>
      <div class="overview-datacolumn">
        {{ job.newick }}
      </div>
      <div class="overview-datacolumn">
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
  {% if edit %}
    <script src="/static/main/update_mongoids.js"></script> 
  {% endif %}
{% endblock %}

