{% extends "main/base.html" %}

{% block content%}
<div class="pane">
  {% if dataset%}
    <h2>Data set: {{ dataset.name }}</h2>
    <h2>Species: {{ species_name }}</h2>
    <button class="margin-tb">Save selection to data set</button>
  {% else %}
    <h2>Sample List</h2>
  {% endif %}
  <div class="overview-row">
    <div class="overview-firstcol-border">
      <input type="checkbox"
      />
    </div>
    <div class='overview-header' key={element['columnId']}>
      <div class='overview-header-inner-bold'>Mongo ID</div>
      <div class='overview-header-inner'>
        <span>{filter}</span>
      </div>
    </div>
    <div class='overview-header' key={element['columnId']}>
      <div class='overview-header-inner-bold'>Name</div>
      <div class='overview-header-inner'>
        <span>{filter}</span>
      </div>
    </div>
    <div class='overview-header' key={element['columnId']}>
      <div class='overview-header-inner-bold'>Species</div>
      <div class='overview-header-inner'>
        <span>{{species_name}}</span>
      </div>
    </div>
    <div class='overview-header' key={element['columnId']}>
      <div class='overview-header-inner-bold'>Country</div>
      <div class='overview-header-inner'>
        <span>{filter}</span>
      </div>
    </div>
    <div class='overview-header' key={element['columnId']}>
      <div class='overview-header-inner-bold'>Source</div>
      <div class='overview-header-inner'>
        <span>{filter}</span>
      </div>
    </div>
    <div class='overview-header' key={element['columnId']}>
      <div class='overview-header-inner-bold'>Year</div>
      <div class='overview-header-inner'>
        <span>{filter}</span>
      </div>
    </div>
    <div class='overview-header' key={element['columnId']}>
      <div class='overview-header-inner-bold'>ST</div>
      <div class='overview-header-inner'>
        <span>{filter}</span>
      </div>
    </div>
  </div>
  {% for sample in samples %}
  <div class="row">
    <div class='overview-firstcol'>
      <input type='checkbox' {% if sample.in_dataset %} checked {%endif %}/>
    </div>
    <div class='overview-datacolumn'>
      {{ sample.id }}
    </div>
    <div class='overview-datacolumn'>
      {{ sample.name }}
    </div>
    <div class='overview-datacolumn'>
      {{ sample.species }}
    </div>
    <div class='overview-datacolumn'>
      {{ sample.country.termName }}
    </div>
    <div class='overview-datacolumn'>
      {{ sample.source_type.termName }}
    </div>
    <div class='overview-datacolumn'>
      {{ sample.year }}
    </div>
    <div class='overview-datacolumn'>
      {{ sample.sequence_type }}
    </div>
  </div>
{% endfor %}
</div
{% endblock %}